name: Build and release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version from tag
        id: version
        run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Get semantic version
        id: semver
        uses: madhead/semver-utils@v4
        with:
          version: ${{ steps.version.outputs.version }}

      - name: Get Changelog
        id: changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.version.outputs.version }}
          path: ./CHANGELOG.md

      - name: Create Github release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ steps.changelog.outputs.changes }}
          prerelease: ${{ !!steps.semver.outputs.prerelease }}
